* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #f4f6f8;
  height: 100%;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

#root {
  height: 100%;
}
