version: 1
update_configs:
  - package_manager: "go:modules"
    directory: "/"
    update_schedule: "weekly"
    default_labels:
      - "dependencies"
      - "go"
    commit_message:
      prefix: "deps"
  - package_manager: "javascript"
    directory: "/web"
    update_schedule: "weekly"
    version_requirement_updates: "increase_versions"
    default_labels:
      - "dependencies"
      - "javascript"
    commit_message:
      prefix: "deps"
      prefix_development: "chore"