name: Go

on:
  push:
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
    branches: [ master ]
  pull_request:
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    container: "golang:1.14"
    services:
      redis:
        image: "redis:5-alpine"
        ports:
          - 6379:6379
        options: --entrypoint redis-server
      mongo:
        image: "mongo"
        ports:
          - 27017:27017
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Get dependencies
        run: go get -v -t -d ./...
      - name: Test
        run: make test
        env:
          REDIS_HOST: redis
          REDIS_PORT: ${{ job.services.redis.ports[6379] }}
          MONGO_URI: mongodb://mongo:${{ job.services.mongo.ports[27017] }}

  lint:
    runs-on: ubuntu-latest
    container: "golangci/golangci-lint:latest"
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Lint
        run: golangci-lint run --timeout 5m0s

  mod:
    runs-on: ubuntu-latest
    container: "golang:1.14"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Tidy
        run: go mod tidy
      - name: Check for changes
        run: git diff --exit-code

  generate:
    runs-on: ubuntu-latest
    container: "golang:1.14"
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Generate
        run: |
          go install github.com/golang/mock/mockgen
          make gen
      - name: Check for changes
        run: git diff --exit-code
